public/AboutUs.html
<!DOCTYPE html><html lang="ru"><head><meta name="viewport" content="width=device-width, initial-scale=1"><title>new project</title><link rel="stylesheet" href="styles/all.css"></head><body><div class="wrapper"><div class="header"><div class="container"><div class="header__wrap"> <div class="header__WAPIK">wapik</div><div class="header__phone"><img src="images/phone.png" alt="">+62 202 555 0117</div><div class="header__nav"><ul class="menu"></ul><li class="header__list"><a href="home.html">home</a></li><li class="header__list"><a href="AboutUs.html">About</a></li><li class="header__list"><a href="Prising.html">Prising</a></li><li class="header__list"><a href="ContactUs.html">Contact</a></li></div><div class="header__button"><button>Get Started</button></div></div></div></div><div class="content"><section class="masthead_about"><div class="container"><div class="masthead__inner"><div class="headline"><div class="Rectangle"><div class="title__about"> Cras justo odio, dapibus ac facilisis inegestas eget quam</div><div class="button__masthead">   <button class="section__button-about"> <p class="button__text">Start Your Free Trial</p></button></div></div></div></div></div></section><section class="columm"><div class="container"><div class="column__inner"><div class="column__heading"> <p class="tittle">About Us</p><p class="tittle__des-about">Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
Donec id elit non mi porta gravida at eget metus. 
Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. 
Donec ullamcorper nulla non metus auctor fringilla.      </p></div><div class="column__img"><img class="column1" src="images/Vector.png" alt=""><img class="column1" src="images/Vector2.png" alt=""><img class="column1" src="images/Vector3.png" alt=""></div><div class="column__wrap12">   <div class="column__one">  <h1 class="column__title">Ionicons</h1><p class="column"> Vivamus sagittis lacus vel augue laoreet rutrum 
faucibus dolor auctor. Aenean eu leo quam. 
Pellentesque ornare sem.</p></div><div class="column__two"><h1 class="column__title">Creative Design</h1><p class="column"> Maecenas faucibus mollis interdum. 
Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p></div><div class="column__threes"><h1 class="column__title">Photoshop and Sketch</h1><p class="column"> Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
Maecenas sed diam eget risus varius blandit sit amet non magna.</p></div></div></div></div></section><section class="our-team"><div class="container"><div class="our-team__inner"><div class="our-team__heading"><h1 class="our-team__title">Meet Our Team</h1><p class="our-team__dest">Curabitur blandit tempus porttitor. 
Duis mollis, est non commodo luctus, nisi erat porttitor ligula, 
eget lacinia odio sem nec elit. 
Cum sociis natoque penatibus et magnis dis parturient montes, 
nascetur ridiculus mus. </p></div><div class="our-team__person-wrap"><div class="our-team__person__one"><img class="our-team__person__img" src="images/Layer_32.png" alt=""><h1 class="our-team__person__title">Joyce Hudson</h1><p class="our-team__person__dest">Founder and Designer        </p></div><div class="our-team__person__one"><img class="our-team__person__img" src="images/Layer-34.png" alt=""><h1 class="our-team__person__title">Angela Campbelln</h1><p class="our-team__person__dest">Project Manager </p></div><div class="our-team__person__one"><img class="our-team__person__img" src="images/Layer_311.png" alt=""><h1 class="our-team__person__title">James Walker</h1><p class="our-team__person__dest">Developer</p></div></div></div></div></section><section class="call__about"><div class="container"><div class="call__inner"><div class="call__heading"><h1 class="call__title-about">Do You Like Wapik? Download it Now</h1><p class="call-dest-about">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p></div><div class="call__heading-button">   <button class="call__button"><p class="call__button-text">download now! - FREE forever            </p></button></div></div></div></section></div></div><div class="footer"><div class="container"><div class="footer__wrap"><div class="top__footer"><div class="info"><h3 class="text__top">wapik</h3><p class="top-dist-email"> @: hi@wapik.com</p><ul class="text__top-dist"><li class="footer-list">p: +62 202 555 0117</li><li class="footer-list">a: 610 Overlook Circle Suite 323</li><li class="footer-list">Kalamazoo, MI 49009   </li></ul></div><div class="company-menu"><h3 class="text__menu">Company</h3><ul class="text__menu-dist"> <li class="top__footer-list">Home </li><li class="top__footer-list">About Us </li><li class="top__footer-list">Pricing </li><li class="top__footer-list">Contact Us   </li></ul></div><div class="others-menu"><h3 class="text__others">Others</h3><ul class="text__others-dist"><li class="top__footer-list">Help and Support </li><li class="top__footer-list">Privacy Policy </li><li class="top__footer-list">Terms </li><li class="top__footer-list">Sitemap</li></ul></div><div class="newsletter"><h3 class="text__newsletter">Newsletter</h3><ul class="text__newsletter-dist">Subscribe to our newsletter and get all the cool news</ul><form action=""><div class="search"><input class="newsletter__input" type="search" placeholder="Enter Email"><input class="newsletter__input-sub" type="submit" value ></div></form></div></div><div class="bottom__footer"><div class="text__button"><p class="text__button"> All rights reserved 2015.</p></div><div class="input_wrap">       <div class="twitter__button"><input type="image" src="images/twitter.png"></div><div class="facebook__button"><input type="image" src="images/facebook.png"></div><div class="instagram__button"><input type="image" src="images/instagram.png"></div><div class="dribbble__button"><input type="image" src="images/dribbble.png"></div><div class="github__button"><input type="image" src="images/github.png"></div></div></div></div></div></div></body></html>

src/templates/pages/AboutUs.pug
- var pageTitle = 'new project'
- var navigation = ['HOME', 'AboutUs', 'Prising', 'ContactUs'];
doctype html
html(lang="ru")
    head
        meta( name='viewport', content='width=device-width, initial-scale=1' )
        title= pageTitle
        link(rel="stylesheet", href="styles/all.css")
    body
        .wrapper
            .header
                .container
                    .header__wrap 
                        .header__WAPIK wapik
                        .header__phone
                            img(src="images/phone.png", alt="") 
                            |+62 202 555 0117
                        .header__nav
                            ul.menu
                            each value, index in {'home' :'home', 'About': 'AboutUs', 'Prising' : "Prising", 'Contact' : "ContactUs"}
                                li.header__list
                                    a(href="" + value + ".html")=index
                        .header__button
                            button Get Started
            .content
                section.masthead_about
                    .container
                        .masthead__inner
                            .headline
                                .Rectangle
                                    .title__about 
                                        |Cras justo odio, dapibus ac facilisis inegestas eget quam
                                    .button__masthead    
                                        button.section__button-about 
                                            p.button__text
                                                |Start Your Free Trial
                section.columm
                    .container
                        .column__inner
                            .column__heading 
                                p.tittle
                                    |About Us
                                p.tittle__des-about
                                    |Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. 
                                    |Donec id elit non mi porta gravida at eget metus. 
                                    |Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
                                    |Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper. 
                                    |Donec ullamcorper nulla non metus auctor fringilla.      
                            .column__img
                                    img.column1(src="images/Vector.png", alt="")
                                    img.column1(src="images/Vector2.png", alt="")
                                    img.column1(src="images/Vector3.png", alt="")
                            .column__wrap12    
                                .column__one   
                                    h1.column__title Ionicons
                                    p.column 
                                        |Vivamus sagittis lacus vel augue laoreet rutrum 
                                        |faucibus dolor auctor. Aenean eu leo quam. 
                                        |Pellentesque ornare sem.
                                .column__two
                                    h1.column__title Creative Design
                                    p.column  
                                        |Maecenas faucibus mollis interdum. 
                                        |Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                                .column__threes
                                    h1.column__title Photoshop and Sketch
                                    p.column  
                                        |Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                                        |Maecenas sed diam eget risus varius blandit sit amet non magna.
                section.our-team
                    .container
                        .our-team__inner
                            .our-team__heading
                                h1.our-team__title
                                 |Meet Our Team
                                p.our-team__dest
                                    |Curabitur blandit tempus porttitor. 
                                    |Duis mollis, est non commodo luctus, nisi erat porttitor ligula, 
                                    |eget lacinia odio sem nec elit. 
                                    |Cum sociis natoque penatibus et magnis dis parturient montes, 
                                    |nascetur ridiculus mus. 
                            .our-team__person-wrap
                                .our-team__person__one
                                    img.our-team__person__img(src="images/Layer_32.png", alt="")
                                    h1.our-team__person__title
                                        |Joyce Hudson
                                    p.our-team__person__dest
                                        |Founder and Designer        
                                .our-team__person__one
                                    img.our-team__person__img(src="images/Layer-34.png", alt="")
                                    h1.our-team__person__title
                                        |Angela Campbelln
                                    p.our-team__person__dest
                                        |Project Manager 
                                .our-team__person__one
                                    img.our-team__person__img(src="images/Layer_311.png", alt="")
                                    h1.our-team__person__title
                                        |James Walker
                                    p.our-team__person__dest
                                        |Developer
                section.call__about
                    .container
                        .call__inner
                            .call__heading
                                h1.call__title-about
                                    |Do You Like Wapik? Download it Now
                                p.call-dest-about
                                    |Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                            .call__heading-button    
                                button.call__button
                                    p.call__button-text
                                        |download now! - FREE forever            










        .footer
                .container
                    .footer__wrap
                        .top__footer
                            .info
                                h3.text__top
                                    |wapik
                                p.top-dist-email 
                                    |@: hi@wapik.com
                                ul.text__top-dist
                                    li.footer-list p: +62 202 555 0117
                                    li.footer-list a: 610 Overlook Circle Suite 323
                                    li.footer-list Kalamazoo, MI 49009   
                            .company-menu
                                h3.text__menu
                                    |Company
                                ul.text__menu-dist 
                                    li.top__footer-list Home 
                                    li.top__footer-list About Us 
                                    li.top__footer-list Pricing 
                                    li.top__footer-list Contact Us   
                            .others-menu
                                h3.text__others
                                    |Others
                                ul.text__others-dist
                                    li.top__footer-list Help and Support 
                                    li.top__footer-list Privacy Policy 
                                    li.top__footer-list Terms 
                                    li.top__footer-list Sitemap
                            .newsletter
                                h3.text__newsletter
                                    |Newsletter
                                ul.text__newsletter-dist
                                    | Subscribe to our newsletter and get all the cool news
                                form(action="")
                                    .search
                                        input.newsletter__input(type="search" placeholder="Enter Email") 
                                        input.newsletter__input-sub(type="submit" value "")        

                        .bottom__footer
                            .text__button
                                p.text__button 
                                    |All rights reserved 2015.
                            .input_wrap        
                                .twitter__button
                                    input(type="image" src="images/twitter.png") 
                                .facebook__button
                                    input(type="image" src="images/facebook.png") 
                                .instagram__button
                                    input(type="image" src="images/instagram.png") 
                                .dribbble__button
                                    input(type="image" src="images/dribbble.png") 
                                .github__button
                                    input(type="image" src="images/github.png")  
