public/ContactUs.html
<!DOCTYPE html><html lang="ru"><head><meta name="viewport" content="width=device-width, initial-scale=1"><title>new project</title><link rel="stylesheet" href="styles/all.css"></head><body><div class="wrapper"><div class="header"><div class="container"><div class="header__wrap"> <div class="header__WAPIK">wapik</div><div class="header__phone"><img src="images/phone.png" alt="">+62 202 555 0117</div><div class="header__nav"><ul class="menu"></ul><li class="header__list"><a href="home.html">home</a></li><li class="header__list"><a href="AboutUs.html">About</a></li><li class="header__list"><a href="Prising.html">Prising</a></li><li class="header__list"><a href="ContactUs.html">Contact</a></li></div><div class="header__button"><button>Get Started</button></div></div></div></div><div class="content"><section class="maps__page"><div class="container"><div class="maps__inner"></div></div></section><section class="contact-page"><div class="heading"><h1 class="heading__title">Get In Touch With Us</h1><p class="heading__dest">We are here to help. Want to learn more about our services?
Please get in touch, we'd love to hear from you!</p></div><div class="form-page"></div><div class="headquarter"></div></section><section class="call"><div class="container"><div class="call__inner"><div class="call__heading"><h1 class="call__title">Do You Like Wapik? Download it Now</h1><p class="call-dest">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p></div><div class="call__heading-button">   <button class="call__button"><p class="call__button-text">download now! - FREE forever</p></button></div></div></div></section></div><div class="footer"><div class="container"><div class="footer__wrap"><div class="top__footer"><div class="info"><h3 class="text__top">wapik</h3><p class="top-dist-email"> @: hi@wapik.com</p><ul class="text__top-dist"><li class="footer-list">p: +62 202 555 0117</li><li class="footer-list">a: 610 Overlook Circle Suite 323</li><li class="footer-list">Kalamazoo, MI 49009   </li></ul></div><div class="company-menu"><h3 class="text__menu">Company</h3><ul class="text__menu-dist"> <li class="top__footer-list">Home </li><li class="top__footer-list">About Us </li><li class="top__footer-list">Pricing </li><li class="top__footer-list">Contact Us   </li></ul></div><div class="others-menu"><h3 class="text__others">Others</h3><ul class="text__others-dist"><li class="top__footer-list">Help and Support </li><li class="top__footer-list">Privacy Policy </li><li class="top__footer-list">Terms </li><li class="top__footer-list">Sitemap</li></ul></div><div class="newsletter"><h3 class="text__newsletter">Newsletter</h3><ul class="text__newsletter-dist">Subscribe to our newsletter and get all the cool news</ul><form action=""><div class="search"><input class="newsletter__input" type="search" placeholder="Enter Email"><input class="newsletter__input-sub" type="submit" value ></div></form></div></div><div class="bottom__footer"><div class="text__button"><p class="text__button"> All rights reserved 2015.</p></div><div class="input_wrap">       <div class="twitter__button"><input type="image" src="images/twitter.png"></div><div class="facebook__button"><input type="image" src="images/facebook.png"></div><div class="instagram__button"><input type="image" src="images/instagram.png"></div><div class="dribbble__button"><input type="image" src="images/dribbble.png"></div><div class="github__button"><input type="image" src="images/github.png"></div></div></div></div></div></div></div></body></html>

src/templates/pages/ContactUs.pug
- var pageTitle = 'new project'
- var navigation = ['HOME', 'AboutUs', 'Prising', 'ContactUs'];
doctype html
html(lang="ru")
    head
        meta( name='viewport', content='width=device-width, initial-scale=1' )
        title= pageTitle
        link(rel="stylesheet", href="styles/all.css")
    body
        .wrapper
            .header
                .container
                    .header__wrap 
                        .header__WAPIK wapik
                        .header__phone
                            img(src="images/phone.png", alt="") 
                            |+62 202 555 0117
                        .header__nav
                            ul.menu
                            each value, index in {'home' :'home', 'About': 'AboutUs', 'Prising' : "Prising", 'Contact' : "ContactUs"}
                                li.header__list
                                    a(href="" + value + ".html")=index
                        .header__button
                            button Get Started
            .content
                section.maps__page
                    .container
                        .maps__inner
                section.contact-page
                    .heading
                        h1.heading__title
                            |Get In Touch With Us
                        p.heading__dest
                            |We are here to help. Want to learn more about our services?
                            |Please get in touch, we'd love to hear from you!
                    .form-page
                    .headquarter

                    
                section.call
                    .container
                        .call__inner
                            .call__heading
                                h1.call__title
                                    |Do You Like Wapik? Download it Now
                                p.call-dest
                                    |Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                            .call__heading-button    
                                button.call__button
                                    p.call__button-text
                                        |download now! - FREE forever
                            




            .footer
                .container
                    .footer__wrap
                        .top__footer
                            .info
                                h3.text__top
                                    |wapik
                                p.top-dist-email 
                                    |@: hi@wapik.com
                                ul.text__top-dist
                                    li.footer-list p: +62 202 555 0117
                                    li.footer-list a: 610 Overlook Circle Suite 323
                                    li.footer-list Kalamazoo, MI 49009   
                            .company-menu
                                h3.text__menu
                                    |Company
                                ul.text__menu-dist 
                                    li.top__footer-list Home 
                                    li.top__footer-list About Us 
                                    li.top__footer-list Pricing 
                                    li.top__footer-list Contact Us   
                            .others-menu
                                h3.text__others
                                    |Others
                                ul.text__others-dist
                                    li.top__footer-list Help and Support 
                                    li.top__footer-list Privacy Policy 
                                    li.top__footer-list Terms 
                                    li.top__footer-list Sitemap
                            .newsletter
                                h3.text__newsletter
                                    |Newsletter
                                ul.text__newsletter-dist
                                    | Subscribe to our newsletter and get all the cool news
                                form(action="")
                                    .search
                                        input.newsletter__input(type="search" placeholder="Enter Email") 
                                        input.newsletter__input-sub(type="submit" value "")        

                        .bottom__footer
                            .text__button
                                p.text__button 
                                    |All rights reserved 2015.
                            .input_wrap        
                                .twitter__button
                                    input(type="image" src="images/twitter.png") 
                                .facebook__button
                                    input(type="image" src="images/facebook.png") 
                                .instagram__button
                                    input(type="image" src="images/instagram.png") 
                                .dribbble__button
                                    input(type="image" src="images/dribbble.png") 
                                .github__button
                                    input(type="image" src="images/github.png")                       
