public/HOME.html
<!DOCTYPE html><html lang="ru"><head><meta name="viewport" content="width=device-width, initial-scale=1"><title>new project</title><link rel="stylesheet" href="styles/all.css"></head><body><div class="wrapper"><div class="header"><div class="container"><div class="header__wrap"> <div class="header__WAPIK">wapik</div><div class="header__phone"><img src="images/phone.png" alt="">+62 202 555 0117</div><div class="header__nav"><ul class="menu"></ul><li class="header__list"><a href="home.html">home</a></li><li class="header__list"><a href="AboutUs.html">About</a></li><li class="header__list"><a href="Prising.html">Prising</a></li><li class="header__list"><a href="ContactUs.html">Contact</a></li></div><div class="header__button"><button>Get Started</button></div></div></div></div><div class="content"><section class="masthead"><div class="container"><div class="masthead__inner"><div class="headline"><div class="Rectangle"><div class="title__wel"> Welcome to Wapik</div><div class="title"> Wapik is multipurpose template, with modern and smart design. Wapik is perfect templates for you!</div><div class="button__masthead">   <button class="section__button"> <p class="button__text">Learn More</p></button></div></div></div></div></div></section><section class="columm"><div class="container"><div class="column__inner"><div class="column__heading"> <p class="tittle">Best of our features</p><p class="tittle__des">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
Integer posuere erat a ante venenatis dapibus posuere velit aliquet.      </p></div><div class="column__img"><img class="column1" src="images/Vector.png" alt=""><img class="column1" src="images/Vector2.png" alt=""><img class="column1" src="images/Vector3.png" alt=""></div><div class="column__wrap12">   <div class="column__one">  <h1 class="column__title">Ionicons</h1><p class="column"> Vivamus sagittis lacus vel augue laoreet rutrum 
faucibus dolor auctor. Aenean eu leo quam. 
Pellentesque ornare sem.</p></div><div class="column__two"><h1 class="column__title">Creative Design</h1><p class="column"> Maecenas faucibus mollis interdum. 
Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p></div><div class="column__threes"><h1 class="column__title">Photoshop and Sketch</h1><p class="column"> Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
Maecenas sed diam eget risus varius blandit sit amet non magna.</p></div></div></div></div></section><section class="others"><div class="container"><div class="others__inner"><div class="others__inner-wrap">   <div class="others__1st"><div class="others__1st-one"><div class="others__1st-one-one"><img class="others-img" src="images/Vector_1_1.png" alt=""><h1 class="others-tittle">Cross Browser Compatibility</h1></div><p class="others-dest"> Donec ullamcorper nulla non metus auctor fringilla. 
Donec id elit non mi porta gravida at eget metus.  </p><div class="others__1st-one-one"><img class="others-img" src="images/Vector_2_2.png" alt=""><h1 class="others-tittle">Pixel Perfect</h1></div><p class="others-dest">Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div><div class="others__1st-two"><div class="others__1st-one-one"><img class="others-img" src="images/Vector_2_3.png" alt=""><h1 class="others-tittle">Creative Idea</h1></div><p class="others-dest">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Vestibulum id ligula porta felis euismod semper.</p><div class="others__1st-one-one"><div class="others__1st-one-one"></div><img class="others-img" src="images/Vector_2_4.png" alt=""><h1 class="others-tittle">Free Forever and Ever</h1></div><p class="others-dest">Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
Donec id elit non mi porta gravida at eget metus.</p></div></div></div></div></div></section><section class="banner"><div class="container"><div class="banner__inner"><div class="banner__heading"><h1 class="banner__title">Looking for the perfect template to use?</h1><h2 class="banner__title-dist">Donec id elit non mi porta gravida at eget metus.</h2></div><div class="banner__heading1">       <div class="banner__heading-img"><img class="hand_img" src="images/hand_0.png" alt=""><img class="hand_screen" src="images/DOUBLE.png" alt=""></div><div class="banner__heading-text"><h1 class="heading__text-tittle"> Responsive Ready</h1><p class="heading-text-dist">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
Praesent commodo cursus magna, vel scelerisque nisl consectetur et. 
Aenean lacinia bibendum nulla sed consectetur. 
Maecenas sed diam eget risus varius blandit sit amet non magna. 
Vestibulum id ligula porta felis euismod semper.</p><div class="heading-text-one"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="heading-text-one-dest">Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p></div><div class="heading-text-two">       <img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="heading-text-one-dest">Donec id elit non mi porta gravida at eget metus.       </p></div></div></div></div></div></section><section class="testimonials"><div class="container"><div class="testimonials__inner"><div class="testimonials__quote"><p class="quote__text">This theme is beautiful, elegant and easy to customize. 
I’ve been able to build an amazing site in just a minute. 
Thank you very much for creating this impressive template!</p><p class="quote__text-one">Valeria Boltneva</p><p class="quote__text-two">    Director of Acme.Inc</p><img class="quote__column__img" src="images/Layer_31.png" alt=""></div></div></div></section><section class="world"><div class="container"><div class="world__inner"><div class="world__quote"><h1 class="world__text">Built with High Attention to Details</h1><p class="world__text-dest">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. 
Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. 
Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.       </p></div></div></div></section><section class="pricing"><div class="container"><div class="pricing__inner"><div class="pricing__heading"><h1 class="heading">Pricing and Plan</h1><p class="heading_dist">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
Donec id elit non mi porta gravida at eget metus.</p></div><div class="pricing__heading-wrap"><div class="pricing__plan-basic"><h1 class="plan"> Basic</h1><p class="plan_one">$199</p><p class="plan_one-m">/month</p><p class="plan-title"><p class="plan-title">Justo Fringilla</p><p class="plan-title">Mollis Sit Nullam</p><p class="plan-title">Ultricies Purus Amet</p><p class="plan-title">Cras Inceptos</p></p><button class="pricing-button">Select Plan     </button></div><div class="pricing__plan-plus"><h1 class="plan"> Plus</h1><p class="plan_one">$199</p><p class="plan_one-m">/month</p><p class="plan-title"><p class="plan-title">Justo Fringilla</p><p class="plan-title">Mollis Sit Nullam</p><p class="plan-title">Ultricies Purus Amet</p><p class="plan-title">Cras Inceptos</p></p><button class="pricing-button1">Select Plan </button></div><div class="pricing__plan-premium"><h1 class="plan"> premium</h1><p class="plan_one">$699</p><p class="plan_one-m">/month</p><p class="plan-title"><p class="plan-title">Justo Fringilla</p><p class="plan-title">Mollis Sit Nullam</p><p class="plan-title">Ultricies Purus Amet</p><p class="plan-title">Cras Inceptos</p></p><button class="pricing-button">Select Plan </button></div></div><div class="pricing__add-ons"><div class="pricing__add-title"><h1 class="add-ons">Included with all Plans</h1></div></div><div class="pricing-text"><div class="pricing__box-one"><div class="pricing__box-item-one"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Maecenas faucibus mollis interdum</p></div><div class="pricing__box-item-one"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Cras justo odio, dapibus ac facilisis</p></div><div class="pricing__box-item-one"> <img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Fringilla Mattis</p></div></div><div class="pricing__box-two"><div class="pricing__box-item-two"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Vestibulum id ligula porta felis euismod</p></div><div class="pricing__box-item-two"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Duis mollis, est non commodo luctus</p></div><div class="pricing__box-item-two"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Integer posuere</p></div></div><div class="pricing__box-three"><div class="pricing__box-item-three"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Nulla vitae elit libero, a pharetra augue</p></div><div class="pricing__box-item-three"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Curabitur blandit tempus porttitor</p></div><div class="pricing__box-item-three"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Nullam quis risus eget urna mollis</p></div></div></div><div class="pricing__help"><img class="heading_img-help" src="images/Vector_4_1.png" alt=""><h1 class="help-text">Need Help?</h1><p class="help-text-dist">Contact our Customer Support that is always ready to help you with any possible
questions, problems or information.</p><p class="help-text-mail">support@wapik.com</p></div></div></div></section><section class="call"><div class="container"><div class="call__inner"><div class="call__heading"><h1 class="call__title">Do You Like Wapik? Download it Now</h1><p class="call-dest">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p></div><div class="call__heading-button">   <button class="call__button"><p class="call__button-text">download now! - FREE forever</p></button></div></div></div></section></div><div class="footer"><div class="container"><div class="footer__wrap"><div class="top__footer"><div class="info"><h3 class="text__top">wapik</h3><p class="top-dist-email"> @: hi@wapik.com</p><ul class="text__top-dist"><li class="footer-list">p: +62 202 555 0117</li><li class="footer-list">a: 610 Overlook Circle Suite 323</li><li class="footer-list">Kalamazoo, MI 49009   </li></ul></div><div class="company-menu"><h3 class="text__menu">Company</h3><ul class="text__menu-dist"> <li class="top__footer-list">Home </li><li class="top__footer-list">About Us </li><li class="top__footer-list">Pricing </li><li class="top__footer-list">Contact Us   </li></ul></div><div class="others-menu"><h3 class="text__others">Others</h3><ul class="text__others-dist"><li class="top__footer-list">Help and Support </li><li class="top__footer-list">Privacy Policy </li><li class="top__footer-list">Terms </li><li class="top__footer-list">Sitemap</li></ul></div><div class="newsletter"><h3 class="text__newsletter">Newsletter</h3><ul class="text__newsletter-dist">Subscribe to our newsletter and get all the cool news</ul><form action=""><div class="search"><input class="newsletter__input" type="search" placeholder="Enter Email"><input class="newsletter__input-sub" type="submit" value ></div></form></div></div><div class="bottom__footer"><div class="text__button"><p class="text__button"> All rights reserved 2015.</p></div><div class="input_wrap">       <div class="twitter__button"><input type="image" src="images/twitter.png"></div><div class="facebook__button"><input type="image" src="images/facebook.png"></div><div class="instagram__button"><input type="image" src="images/instagram.png"></div><div class="dribbble__button"><input type="image" src="images/dribbble.png"></div><div class="github__button"><input type="image" src="images/github.png"></div></div></div></div></div></div></div></body></html>

src/templates/pages/HOME.pug
- var pageTitle = 'new project'
- var navigation = ['HOME', 'AboutUs', 'Prising', 'ContactUs'];
doctype html
html(lang="ru")
    head
        meta( name='viewport', content='width=device-width, initial-scale=1' )
        title= pageTitle
        link(rel="stylesheet", href="styles/all.css")
    body
        .wrapper
            .header
                .container
                    .header__wrap 
                        .header__WAPIK wapik
                        .header__phone
                            img(src="images/phone.png", alt="") 
                            |+62 202 555 0117
                        .header__nav
                            ul.menu
                            each value, index in {'home' :'home', 'About': 'AboutUs', 'Prising' : "Prising", 'Contact' : "ContactUs"}
                                li.header__list
                                    a(href="" + value + ".html")=index
                        .header__button
                            button Get Started
            .content
                section.masthead
                    .container
                        .masthead__inner
                            .headline
                                .Rectangle
                                    .title__wel 
                                        |Welcome to Wapik
                                    .title 
                                        |Wapik is multipurpose template, with modern and smart design. Wapik is perfect templates for you!
                                    .button__masthead    
                                        button.section__button 
                                            p.button__text
                                                |Learn More
                section.columm
                    .container
                        .column__inner
                            .column__heading 
                                p.tittle
                                    |Best of our features
                                p.tittle__des
                                    |Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    |Integer posuere erat a ante venenatis dapibus posuere velit aliquet.      
                            .column__img
                                    img.column1(src="images/Vector.png", alt="")
                                    img.column1(src="images/Vector2.png", alt="")
                                    img.column1(src="images/Vector3.png", alt="")
                            .column__wrap12    
                                .column__one   
                                    h1.column__title Ionicons
                                    p.column 
                                        |Vivamus sagittis lacus vel augue laoreet rutrum 
                                        |faucibus dolor auctor. Aenean eu leo quam. 
                                        |Pellentesque ornare sem.
                                .column__two
                                    h1.column__title Creative Design
                                    p.column  
                                        |Maecenas faucibus mollis interdum. 
                                        |Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
                                .column__threes
                                    h1.column__title Photoshop and Sketch
                                    p.column  
                                        |Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                                        |Maecenas sed diam eget risus varius blandit sit amet non magna.
                section.others
                    .container
                        .others__inner
                            .others__inner-wrap    
                                .others__1st
                                    .others__1st-one
                                        .others__1st-one-one
                                            img.others-img(src="images/Vector_1_1.png", alt="")
                                            h1.others-tittle Cross Browser Compatibility
                                        p.others-dest  
                                            |Donec ullamcorper nulla non metus auctor fringilla. 
                                            |Donec id elit non mi porta gravida at eget metus.  
                                        .others__1st-one-one
                                            img.others-img(src="images/Vector_2_2.png", alt="")
                                            h1.others-tittle Pixel Perfect
                                        p.others-dest
                                            |Integer posuere erat a ante venenatis dapibus posuere velit aliquet. 
                                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    .others__1st-two
                                        .others__1st-one-one
                                            img.others-img(src="images/Vector_2_3.png", alt="")
                                            h1.others-tittle Creative Idea
                                        p.others-dest
                                            |Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                            |Vestibulum id ligula porta felis euismod semper.
                                        .others__1st-one-one
                                            .others__1st-one-one
                                            img.others-img(src="images/Vector_2_4.png", alt="")
                                            h1.others-tittle Free Forever and Ever
                                        p.others-dest
                                            |Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
                                            |Donec id elit non mi porta gravida at eget metus.
                section.banner
                    .container
                        .banner__inner
                            .banner__heading
                                h1.banner__title
                                    |Looking for the perfect template to use?
                                h2.banner__title-dist
                                    |Donec id elit non mi porta gravida at eget metus.
                            .banner__heading1        
                                .banner__heading-img
                                        img.hand_img(src="images/hand_0.png", alt="")
                                        img.hand_screen(src="images/DOUBLE.png", alt="")
                                .banner__heading-text
                                        h1.heading__text-tittle 
                                            |Responsive Ready
                                        p.heading-text-dist
                                            |Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
                                            |Praesent commodo cursus magna, vel scelerisque nisl consectetur et. 
                                            |Aenean lacinia bibendum nulla sed consectetur. 
                                            |Maecenas sed diam eget risus varius blandit sit amet non magna. 
                                            |Vestibulum id ligula porta felis euismod semper.
                                        .heading-text-one
                                            img.heading_img(src="images/Vector_5_1.png", alt="")
                                            p.heading-text-one-dest
                                                |Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
                                        .heading-text-two        
                                            img.heading_img(src="images/Vector_5_1.png", alt="")
                                            p.heading-text-one-dest
                                                |Donec id elit non mi porta gravida at eget metus.       
                section.testimonials
                    .container
                        .testimonials__inner
                            .testimonials__quote
                                p.quote__text
                                    |This theme is beautiful, elegant and easy to customize. 
                                    |I’ve been able to build an amazing site in just a minute. 
                                    |Thank you very much for creating this impressive template!
                                p.quote__text-one
                                    |Valeria Boltneva
                                p.quote__text-two     
                                    |Director of Acme.Inc
                                img.quote__column__img(src="images/Layer_31.png", alt="")
                section.world
                    .container
                        .world__inner
                            .world__quote
                                h1.world__text
                                    |Built with High Attention to Details
                                p.world__text-dest
                                    |Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. 
                                    |Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur. 
                                    |Maecenas sed diam eget risus varius blandit sit amet non magna. Vestibulum id ligula porta felis euismod semper. 
                                    |Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Donec id elit non mi porta gravida at eget metus.       
                section.pricing
                    .container
                        .pricing__inner
                            .pricing__heading
                                h1.heading
                                    |Pricing and Plan
                                p.heading_dist
                                    |Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
                                    |Donec id elit non mi porta gravida at eget metus.
                            .pricing__heading-wrap
                                .pricing__plan-basic
                                    h1.plan 
                                        |Basic
                                    p.plan_one
                                        |$199
                                    p.plan_one-m
                                        |/month
                                    p.plan-title
                                        p.plan-title Justo Fringilla
                                        p.plan-title Mollis Sit Nullam
                                        p.plan-title Ultricies Purus Amet
                                        p.plan-title Cras Inceptos
                                    button.pricing-button
                                            |Select Plan     
                                .pricing__plan-plus
                                    h1.plan 
                                        |Plus
                                    p.plan_one
                                        |$199
                                    p.plan_one-m
                                        |/month
                                    p.plan-title
                                        p.plan-title Justo Fringilla
                                        p.plan-title Mollis Sit Nullam
                                        p.plan-title Ultricies Purus Amet
                                        p.plan-title Cras Inceptos
                                    button.pricing-button1
                                            |Select Plan 

                                .pricing__plan-premium
                                    h1.plan 
                                        |premium
                                    p.plan_one
                                        |$699
                                    p.plan_one-m
                                        |/month
                                    p.plan-title
                                        p.plan-title Justo Fringilla
                                        p.plan-title Mollis Sit Nullam
                                        p.plan-title Ultricies Purus Amet
                                        p.plan-title Cras Inceptos
                                    button.pricing-button
                                        |Select Plan 



                            .pricing__add-ons
                                .pricing__add-title
                                    h1.add-ons
                                        |Included with all Plans
                            .pricing-text
                                .pricing__box-one
                                    .pricing__box-item-one
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Maecenas faucibus mollis interdum
                                    .pricing__box-item-one
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Cras justo odio, dapibus ac facilisis
                                    .pricing__box-item-one 
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Fringilla Mattis

                                .pricing__box-two
                                    .pricing__box-item-two
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Vestibulum id ligula porta felis euismod
                                    .pricing__box-item-two
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Duis mollis, est non commodo luctus
                                    .pricing__box-item-two
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Integer posuere
                                
                                .pricing__box-three
                                    .pricing__box-item-three
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Nulla vitae elit libero, a pharetra augue
                                    .pricing__box-item-three
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Curabitur blandit tempus porttitor
                                    .pricing__box-item-three
                                        img.heading_img(src="images/Vector_5_1.png", alt="")
                                        p.box
                                            |Nullam quis risus eget urna mollis
                            .pricing__help
                                img.heading_img-help(src="images/Vector_4_1.png", alt="")
                                h1.help-text
                                    |Need Help?
                                p.help-text-dist
                                    |Contact our Customer Support that is always ready to help you with any possible
                                    |questions, problems or information.
                                p.help-text-mail
                                    |support@wapik.com
                section.call
                    .container
                        .call__inner
                            .call__heading
                                h1.call__title
                                    |Do You Like Wapik? Download it Now
                                p.call-dest
                                    |Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                            .call__heading-button    
                                button.call__button
                                    p.call__button-text
                                        |download now! - FREE forever
            .footer
                .container
                    .footer__wrap
                        .top__footer
                            .info
                                h3.text__top
                                    |wapik
                                p.top-dist-email 
                                    |@: hi@wapik.com
                                ul.text__top-dist
                                    li.footer-list p: +62 202 555 0117
                                    li.footer-list a: 610 Overlook Circle Suite 323
                                    li.footer-list Kalamazoo, MI 49009   
                            .company-menu
                                h3.text__menu
                                    |Company
                                ul.text__menu-dist 
                                    li.top__footer-list Home 
                                    li.top__footer-list About Us 
                                    li.top__footer-list Pricing 
                                    li.top__footer-list Contact Us   
                            .others-menu
                                h3.text__others
                                    |Others
                                ul.text__others-dist
                                    li.top__footer-list Help and Support 
                                    li.top__footer-list Privacy Policy 
                                    li.top__footer-list Terms 
                                    li.top__footer-list Sitemap
                            .newsletter
                                h3.text__newsletter
                                    |Newsletter
                                ul.text__newsletter-dist
                                    | Subscribe to our newsletter and get all the cool news
                                form(action="")
                                    .search
                                        input.newsletter__input(type="search" placeholder="Enter Email") 
                                        input.newsletter__input-sub(type="submit" value "")        

                        .bottom__footer
                            .text__button
                                p.text__button 
                                    |All rights reserved 2015.
                            .input_wrap        
                                .twitter__button
                                    input(type="image" src="images/twitter.png") 
                                .facebook__button
                                    input(type="image" src="images/facebook.png") 
                                .instagram__button
                                    input(type="image" src="images/instagram.png") 
                                .dribbble__button
                                    input(type="image" src="images/dribbble.png") 
                                .github__button
                                    input(type="image" src="images/github.png")                       
