public/Prising.html
<!DOCTYPE html><html lang="ru"><head><meta name="viewport" content="width=device-width, initial-scale=1"><title>new project</title><link rel="stylesheet" href="styles/all.css"></head><body><div class="wrapper"><div class="header"><div class="container"><div class="header__wrap"> <div class="header__WAPIK">wapik</div><div class="header__phone"><img src="images/phone.png" alt="">+62 202 555 0117</div><div class="header__nav"><ul class="menu"></ul><li class="header__list"><a href="home.html">home</a></li><li class="header__list"><a href="AboutUs.html">About</a></li><li class="header__list"><a href="Prising.html">Prising</a></li><li class="header__list"><a href="ContactUs.html">Contact</a></li></div><div class="header__button"><button>Get Started</button></div></div></div></div><div class="content"><section class="pricing-page"><div class="container"><div class="pricing__inner__page"><div class="pricing__heading"><h1 class="heading__prising">Get Started with Wapik Today All Plans include 
a 30-Day Trial Period</h1><p class="heading_dist__prising">Cras mattis consectetur purus sit amet fermentum.</p></div><div class="pricing__heading-wrap"><div class="pricing__plan-basic"><h1 class="plan"> Basic</h1><p class="plan_one">$199</p><p class="plan_one-m">/month</p><p class="plan-title"><p class="plan-title">Justo Fringilla</p><p class="plan-title">Mollis Sit Nullam</p><p class="plan-title">Ultricies Purus Amet</p><p class="plan-title">Cras Inceptos</p></p><button class="pricing-button">Select Plan     </button></div><div class="pricing__plan-plus"><h1 class="plan"> Plus</h1><p class="plan_one">$199</p><p class="plan_one-m">/month</p><p class="plan-title"><p class="plan-title">Justo Fringilla</p><p class="plan-title">Mollis Sit Nullam</p><p class="plan-title">Ultricies Purus Amet</p><p class="plan-title">Cras Inceptos</p></p><button class="pricing-button1">Select Plan </button></div><div class="pricing__plan-premium"><h1 class="plan"> premium</h1><p class="plan_one">$699</p><p class="plan_one-m">/month</p><p class="plan-title"><p class="plan-title">Justo Fringilla</p><p class="plan-title">Mollis Sit Nullam</p><p class="plan-title">Ultricies Purus Amet</p><p class="plan-title">Cras Inceptos</p></p><button class="pricing-button">Select Plan </button></div></div><p class="heading_dist__prising__too">Limited Time Offer. All plans are FREE 14 days!</p></div></div></section><section class="pricing_too"><div class="container"><div class="pricing__inner-too"><div class="pricing__add-ons"><div class="pricing__add-title"><h1 class="add-ons">Included with all Plans</h1></div></div><div class="pricing-text"><div class="pricing__box-one"><div class="pricing__box-item-one"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Maecenas faucibus mollis interdum</p></div><div class="pricing__box-item-one"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Cras justo odio, dapibus ac facilisis</p></div><div class="pricing__box-item-one"> <img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Fringilla Mattis</p></div></div><div class="pricing__box-two"><div class="pricing__box-item-two"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Vestibulum id ligula porta felis euismod</p></div><div class="pricing__box-item-two"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Duis mollis, est non commodo luctus</p></div><div class="pricing__box-item-two"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Integer posuere</p></div></div><div class="pricing__box-three"><div class="pricing__box-item-three"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Nulla vitae elit libero, a pharetra augue</p></div><div class="pricing__box-item-three"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Curabitur blandit tempus porttitor</p></div><div class="pricing__box-item-three"><img class="heading_img" src="images/Vector_5_1.png" alt=""><p class="box">Nullam quis risus eget urna mollis</p></div></div></div><div class="pricing__help"><img class="heading_img-help" src="images/Vector_4_1.png" alt=""><h1 class="help-text">Need Help?</h1><p class="help-text-dist">Contact our Customer Support that is always ready to help you with any possible
questions, problems or information.</p><p class="help-text-mail">support@wapik.com</p></div></div></div></section><section class="call"><div class="container"><div class="call__inner"><div class="call__heading"><h1 class="call__title">Do You Like Wapik? Download it Now</h1><p class="call-dest">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p></div><div class="call__heading-button">   <button class="call__button"><p class="call__button-text">download now! - FREE forever</p></button></div></div></div></section></div><div class="footer"><div class="container"><div class="footer__wrap"><div class="top__footer"><div class="info"><h3 class="text__top">wapik</h3><p class="top-dist-email"> @: hi@wapik.com</p><ul class="text__top-dist"><li class="footer-list">p: +62 202 555 0117</li><li class="footer-list">a: 610 Overlook Circle Suite 323</li><li class="footer-list">Kalamazoo, MI 49009   </li></ul></div><div class="company-menu"><h3 class="text__menu">Company</h3><ul class="text__menu-dist"> <li class="top__footer-list">Home </li><li class="top__footer-list">About Us </li><li class="top__footer-list">Pricing </li><li class="top__footer-list">Contact Us   </li></ul></div><div class="others-menu"><h3 class="text__others">Others</h3><ul class="text__others-dist"><li class="top__footer-list">Help and Support </li><li class="top__footer-list">Privacy Policy </li><li class="top__footer-list">Terms </li><li class="top__footer-list">Sitemap</li></ul></div><div class="newsletter"><h3 class="text__newsletter">Newsletter</h3><ul class="text__newsletter-dist">Subscribe to our newsletter and get all the cool news</ul><form action=""><div class="search"><input class="newsletter__input" type="search" placeholder="Enter Email"><input class="newsletter__input-sub" type="submit" value ></div></form></div></div><div class="bottom__footer"><div class="text__button"><p class="text__button"> All rights reserved 2015.</p></div><div class="input_wrap">       <div class="twitter__button"><input type="image" src="images/twitter.png"></div><div class="facebook__button"><input type="image" src="images/facebook.png"></div><div class="instagram__button"><input type="image" src="images/instagram.png"></div><div class="dribbble__button"><input type="image" src="images/dribbble.png"></div><div class="github__button"><input type="image" src="images/github.png"></div></div></div></div></div></div></div></body></html>

src/templates/pages/Prising.pug
- var pageTitle = 'new project'
- var navigation = ['HOME', 'AboutUs', 'Prising', 'ContactUs'];
doctype html
html(lang="ru")
    head
        meta( name='viewport', content='width=device-width, initial-scale=1' )
        title= pageTitle
        link(rel="stylesheet", href="styles/all.css")
    body
        .wrapper
            .header
                .container
                    .header__wrap 
                        .header__WAPIK wapik
                        .header__phone
                            img(src="images/phone.png", alt="") 
                            |+62 202 555 0117
                        .header__nav
                            ul.menu
                            each value, index in {'home' :'home', 'About': 'AboutUs', 'Prising' : "Prising", 'Contact' : "ContactUs"}
                                li.header__list
                                    a(href="" + value + ".html")=index
                        .header__button
                            button Get Started
            .content
                section.pricing-page
                            .container
                                .pricing__inner__page
                                    .pricing__heading
                                        h1.heading__prising
                                            |Get Started with Wapik Today All Plans include 
                                            |a 30-Day Trial Period
                                        p.heading_dist__prising
                                            |Cras mattis consectetur purus sit amet fermentum.
                                    .pricing__heading-wrap
                                        .pricing__plan-basic
                                            h1.plan 
                                                |Basic
                                            p.plan_one
                                                |$199
                                            p.plan_one-m
                                                |/month
                                            p.plan-title
                                                p.plan-title Justo Fringilla
                                                p.plan-title Mollis Sit Nullam
                                                p.plan-title Ultricies Purus Amet
                                                p.plan-title Cras Inceptos
                                            button.pricing-button
                                                    |Select Plan     
                                        .pricing__plan-plus
                                            h1.plan 
                                                |Plus
                                            p.plan_one
                                                |$199
                                            p.plan_one-m
                                                |/month
                                            p.plan-title
                                                p.plan-title Justo Fringilla
                                                p.plan-title Mollis Sit Nullam
                                                p.plan-title Ultricies Purus Amet
                                                p.plan-title Cras Inceptos
                                            button.pricing-button1
                                                    |Select Plan 

                                        .pricing__plan-premium
                                            h1.plan 
                                                |premium
                                            p.plan_one
                                                |$699
                                            p.plan_one-m
                                                |/month
                                            p.plan-title
                                                p.plan-title Justo Fringilla
                                                p.plan-title Mollis Sit Nullam
                                                p.plan-title Ultricies Purus Amet
                                                p.plan-title Cras Inceptos
                                            button.pricing-button
                                                |Select Plan 
                                    p.heading_dist__prising__too
                                        |Limited Time Offer. All plans are FREE 14 days!
                section.pricing_too
                    .container
                            .pricing__inner-too
                                .pricing__add-ons
                                    .pricing__add-title
                                        h1.add-ons
                                            |Included with all Plans
                                .pricing-text
                                    .pricing__box-one
                                        .pricing__box-item-one
                                            img.heading_img(src="images/Vector_5_1.png", alt="")
                                            p.box
                                                |Maecenas faucibus mollis interdum
                                        .pricing__box-item-one
                                            img.heading_img(src="images/Vector_5_1.png", alt="")
                                            p.box
                                                |Cras justo odio, dapibus ac facilisis
                                        .pricing__box-item-one 
                                            img.heading_img(src="images/Vector_5_1.png", alt="")
                                            p.box
                                                |Fringilla Mattis

                                    .pricing__box-two
                                        .pricing__box-item-two
                                            img.heading_img(src="images/Vector_5_1.png", alt="")
                                            p.box
                                                |Vestibulum id ligula porta felis euismod
                                        .pricing__box-item-two
                                            img.heading_img(src="images/Vector_5_1.png", alt="")
                                            p.box
                                                |Duis mollis, est non commodo luctus
                                        .pricing__box-item-two
                                            img.heading_img(src="images/Vector_5_1.png", alt="")
                                            p.box
                                                |Integer posuere
                                    
                                    .pricing__box-three
                                        .pricing__box-item-three
                                            img.heading_img(src="images/Vector_5_1.png", alt="")
                                            p.box
                                                |Nulla vitae elit libero, a pharetra augue
                                        .pricing__box-item-three
                                            img.heading_img(src="images/Vector_5_1.png", alt="")
                                            p.box
                                                |Curabitur blandit tempus porttitor
                                        .pricing__box-item-three
                                            img.heading_img(src="images/Vector_5_1.png", alt="")
                                            p.box
                                                |Nullam quis risus eget urna mollis
                                .pricing__help
                                    img.heading_img-help(src="images/Vector_4_1.png", alt="")
                                    h1.help-text
                                        |Need Help?
                                    p.help-text-dist
                                        |Contact our Customer Support that is always ready to help you with any possible
                                        |questions, problems or information.
                                    p.help-text-mail
                                        |support@wapik.com
                section.call
                    .container
                        .call__inner
                            .call__heading
                                h1.call__title
                                    |Do You Like Wapik? Download it Now
                                p.call-dest
                                    |Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                            .call__heading-button    
                                button.call__button
                                    p.call__button-text
                                        |download now! - FREE forever
            .footer
                .container
                    .footer__wrap
                        .top__footer
                            .info
                                h3.text__top
                                    |wapik
                                p.top-dist-email 
                                    |@: hi@wapik.com
                                ul.text__top-dist
                                    li.footer-list p: +62 202 555 0117
                                    li.footer-list a: 610 Overlook Circle Suite 323
                                    li.footer-list Kalamazoo, MI 49009   
                            .company-menu
                                h3.text__menu
                                    |Company
                                ul.text__menu-dist 
                                    li.top__footer-list Home 
                                    li.top__footer-list About Us 
                                    li.top__footer-list Pricing 
                                    li.top__footer-list Contact Us   
                            .others-menu
                                h3.text__others
                                    |Others
                                ul.text__others-dist
                                    li.top__footer-list Help and Support 
                                    li.top__footer-list Privacy Policy 
                                    li.top__footer-list Terms 
                                    li.top__footer-list Sitemap
                            .newsletter
                                h3.text__newsletter
                                    |Newsletter
                                ul.text__newsletter-dist
                                    | Subscribe to our newsletter and get all the cool news
                                form(action="")
                                    .search
                                        input.newsletter__input(type="search" placeholder="Enter Email") 
                                        input.newsletter__input-sub(type="submit" value "")        

                        .bottom__footer
                            .text__button
                                p.text__button 
                                    |All rights reserved 2015.
                            .input_wrap        
                                .twitter__button
                                    input(type="image" src="images/twitter.png") 
                                .facebook__button
                                    input(type="image" src="images/facebook.png") 
                                .instagram__button
                                    input(type="image" src="images/instagram.png") 
                                .dribbble__button
                                    input(type="image" src="images/dribbble.png") 
                                .github__button
                                    input(type="image" src="images/github.png")                       
